body{
    background-image: url(IMG-20240428-WA0026.jpg);
    margin: 0%;
}
header {
    background: #323231;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1{
    color: greenyellow;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    color: red;
    text-decoration: underline;
}

nav li a:hover{
   color: chocolate;
}
section{
    text-align: center;
    background-color: darkgreen;
    /* background-color: darkmagenta; */
    height: 920px;
}
.aboutMe h1{
    padding-top: 20px;
   color: red;
   text-decoration: underline;
}

.aboutMe span{
    color: darkcyan;
}
.aboutMe img{
    width: 100px;
    height: 100px;
    border: 2px solid red;  
    border-radius: 140px;
    
}

.skill h1{
    color: red;
    text-decoration: underline;
}
.skill p{
    padding-left: 40px;
    /* color: aqua; */
    text-shadow: 4px 4px 2px grey;
    color: yellowgreen;
    
}
.project h1{
    color: red;
    text-decoration: underline;
}

.project p {
    padding-left: 40px;
    color: violet;
}
.project a:hover{
    color: violet;
 }
.contact{  
    background-color: #333;
    color: #fff;
    text-align: center;
}
.contact h1{
    color: red;
    text-decoration: underline;
}
.contact span{
    color: darkcyan;
}

