html{
    scroll-behavior: smooth;
}
body{
    background-image: url(IMG-20240428-WA0026.jpg);
    margin: 0%;
    padding: 0%;
}
header {
    background: #323231;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1{
    color: greenyellow;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    /* color: red; */
    text-decoration: underline;
    text-transform: capitalize;
}

nav a{
    color: red;
}

nav li a:hover{
   color: yellow;
}
/* nav li a:visited{
    color: plum;
 } */
 nav li a:active{
    color: olivedrab;
 } 
 

#About{
    text-align: center;
    /* background-color: darkgreen; */
    background-color: darkmagenta;
    height: 550px;
}
#Skills{
    text-align: center;
    /* background-color: darkgreen; */
    background-color: darkmagenta;
    height: 215px;
   
}
#Projects{
    text-align: center;
    /* background-color: darkgreen; */
    background-color: darkmagenta;
    height: 180px;
}
.aboutMe h1{
    padding-top: 20px;
   color: red;
   text-decoration: underline;
}

.aboutMe span{
    color: olivedrab;
}
.aboutMe img{
    width: 100px;
    height: 100px;
    border: 2px solid red; 
    border-radius: 140px;
    
}
.skill h1{
    padding-top: 20px;
    color: red;
    text-decoration: underline;
}
.skill p{
    padding-left: 40px;
    /* color: aqua; */
    text-shadow: 4px 4px 2px grey;
    color: yellowgreen;  
}
.project h1{
    
    padding-top: 20px;
    color: red;
    text-decoration: underline;
}
.project p {
    padding-left: 20px;
    /* color: violet; */
    color: goldenrod;
}
section a{
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.project a:hover{
    color: violet;
 }
#Contact{  
    background-color: #333;
    color: #fff;
    text-align: center;
    list-style:lower-alpha;
}
#Contact{
    height: 220px;
}
.contact p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact h1{
    color: red;
    text-decoration: underline;
    padding-top: 20px;
}
.contact span{
    color: darkcyan;
}
.contact a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkcyan;
}
.contact a:hover{
    color: red;
}
.contact i{
    padding-left: 4px;
    color: blueviolet;
}
